name: Market Tech Challenge Workflow

on:
  pull_request:
    branches:
      - master

    types: [ opened, synchronize, reopened, ready_for_review ]

  push:
    branches:
      - master

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  check-style:
    name: Check Style
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Run Static Code Analysis
        run: ./gradlew lintDebug ktlintCheck detekt

      - name: Execute Unit Tests
        run: ./gradlew testDebugUnitTest
